@model Radnik;
    <div style="text-align:center">
        <a asp-controller="Radnici" asp-action="Index" class="btn btn-dark" id="actionMenuBtn"><i class="fa-solid fa-angle-left mr-2"></i>Završi prelged podataka o radniku</a>
    </div>
<div class="card mt-3" id="employeeSegmentInfo">
    <div class="row">
        <div class="col-12"><p class="empName"><i class="fa-solid fa-user mr-2"></i>@Model.Ime&nbsp;@Model.Prezime</p></div>
    </div>
    <div class="row">
        <div class="col-12"><p class="empAddress"><i class="fa-solid fa-tree-city mr-2"></i>@Model.Adresa</p></div>
    </div>

</div>
<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>Neto plata</th>
            <th>Bruto plata</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.NetoPlata</td>
            <td>@Model.BrutoPlata</td>
        </tr>
    </tbody>
</table>
<h5>Doprinosi - Radnik</h5>

<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>PIO</th>
                <th>Zdravstveno</th>
                <th>Nezaposlenost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PIO</td>
                <td>@Model.Zdravstveno</td>
                <td>@Model.Nezaposlenost</td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Doprinosi - Poslodavac</h5>
<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>PIO</th>
                <th>Zdravstveno</th>
                <th>Nezaposlenost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PIOPoslodavac</td>
                <td>@Model.ZdravstvenoPoslodavac</td>
                <td>@Model.NezaposlenostPoslodavac</td>
            </tr>
        </tbody>
    </table>
</div>

<h5>Porez na dohodak</h5>
<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>Porez</th>
                <th>Minimalna osnovica</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10%</td>
                <td>30.880</td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Ukupni troskovi</h5>
<!--<hr />
<div class="row">
    <div class="col-2"><p>Ukupno - Doprinos radnika</p></div>
    <div class="col-10">+<b>64,980</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Ukupno - Doprinos poslodavca</p></div>
    <div class="col-10">+<b>64,980</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Porez na dohodak</p></div>
    <div class="col-10">+<b>3080</b></div>
</div>-->
<hr />
<div class="row" id="totalCost" style="border:1px solid black;padding:10px;">
   <div class="col-12"><p>Ukupni troškovi radnika <b>@Model.UkupniTroskovi</b> <span>RSD</span></p></div>
</div>
