@model Radnik;
    <div style="text-align:center">
        <a asp-controller="Radnici" asp-action="Index" class="btn btn-dark" id="actionMenuBtn"><i class="fa-solid fa-angle-left mr-2"></i>Završi prelged podataka o radniku</a>
    </div>
<div class="card mt-3" id="employeeSegmentInfo">
    <div class="row">
        <div class="col-12"><p class="empName"><i class="fa-solid fa-user mr-2"></i>@Model.Ime&nbsp;@Model.Prezime</p></div>
    </div>
    <div class="row">
        <div class="col-12"><p class="empAddress"><i class="fa-solid fa-tree-city mr-2"></i>@Model.Adresa</p></div>
    </div>

</div>
<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>Neto plata</th>
            <th>Bruto plata</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.NetoPlata.ToString("C0")<span class="currency">RSD</span></td>
            <td>@Model.BrutoPlata.ToString("C0")<span class="currency">RSD</span></td>
        </tr>
    </tbody>
</table>
<h5>Doprinosi - Radnik</h5>

<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>PIO</th>
                <th>Zdravstveno</th>
                <th>Nezaposlenost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PIO.ToString("C0")<span class="currency">RSD</span></td>
                <td>@Model.Zdravstveno.ToString("C0")<span class="currency">RSD</span></td>
                <td>@Model.Nezaposlenost.ToString("C0")<span class="currency">RSD</span></td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Doprinosi - Poslodavac</h5>
<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>PIO</th>
                <th>Zdravstveno</th>
                <th>Nezaposlenost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PIOPoslodavac.ToString("C0")<span class="currency">RSD</span></td>
                <td>@Model.ZdravstvenoPoslodavac.ToString("C0")<span class="currency">RSD</span></td>
                <td>@Model.NezaposlenostPoslodavac.ToString("C0")<span class="currency">RSD</span></td>
            </tr>
        </tbody>
    </table>
</div>

<h5>Porez na dohodak</h5>
<div id="employeeSegment">
    <table class="table" style="text-align: center; ">
        <thead>
            <tr>
                <th>Porez</th>
                <th>Minimalna osnovica</th>
                <th>Ukupno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10%</td>
                <td>30.880<span class="currency">RSD</span></td>
                <td>3.088<span class="currency">RSD</span></td>
            </tr>
        </tbody>
    </table>
</div>
<h5>Ukupni troskovi</h5>
<hr />
<div class="row" id="totalCost">
   <div class="col-12"><p>Ukupni troškovi radnika <b>@Model.UkupniTroskovi.ToString("C0")</b> <span class="currency">RSD</span></p></div>
</div>
